

/******************Scroll panel******************/
.scroll_panel {
    height: 90px;
    clear: left;
}

.stat {
    float: left;
    font-size: 20px;
}

.navigate_buttons {
    font-size: 25px;
    float: right;
    margin-right: 40px;
}

/*********************Footer*********************/
footer {
    height: 60px;
    width: 100%;
    overflow: hidden;
    padding-top: 30px;
    box-sizing: border-box;
    text-align: center;
}

/**********************Groups********************/

.bordered {
    border: 2px solid #000000;
    box-shadow: 2px 2px 5px #000000;
    box-sizing: border-box;
}