.templates-selector__header {
    height: 47px;
    min-width: 620px;
    padding: 30px 20px 10px 40px;
}

.templates-selector__header .button {
    float: left;
    margin-left: 20px;
    font-size: 25px;
}

.templates-selector__header .button:active {
    background-color: #DCDCDC;
}

.templates-selector__header .search-box {
    float: right;
    margin-right: 50px;
}

.templates-selector__header h2, .templates-selector__header a {
    margin: 0;
}