.template-item {
    width: 420px;
    height: 320px;
    border: 3px solid #000000;
    padding: 5px 15px;
}

.template_item h2 {
    margin: 0px;
}

.template-item .button {
    display: inline-block;
    margin-top: 10px;
    padding: 3px 2px 3px 2px;
    font-size: 18px;
}

.template-item .button:active {
    background-color: #DCDCDC;
}