.menu {
    float: right;
    width:370px; 
    padding-top: 30px;
    list-style-type: none;
    overflow: hidden;
    margin-top: 25px;
}

.menu li {
    float: right;
    width: 185px;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
}

.menu li:hover {
    font-size: 22px;
}

@media screen and (max-width: 540px) {
    .menu { padding-top: 20px; }
    .menu li { float: none; }
}